@import "src/app/shared/styles/styles";

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input {
  border-color: #ccc;
}

input.error {
  border-color: red;
}
.input-container {
  position: relative;
}

.input-container input {
  padding-right: 36px;
}

.toggle-icon {
  position: absolute;
  right: 12px;
  top: 37%;
  cursor: pointer;
}
