<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <!--Use the name `name` for the form control.-->
          <input
            type="text"
            id="name"
            placeholder="Input text"
            formControlName="name"
            required
            [ngClass]="{
              error:
                registrationForm.controls['name'].invalid &&
                (submitted || registrationForm.controls['name'].touched)
            }"
          />
          <span
            *ngIf="
              registrationForm.controls['name'].invalid &&
              (submitted || registrationForm.controls['name'].touched)
            "
            id="nameErrorMessage"
            class="text-danger"
            ><span
              *ngIf="registrationForm.controls['name'].errors?.['required']; else shortNameTemplate"
              >Name is required.</span
            >
            <ng-template #shortNameTemplate>
              <span
                *ngIf="registrationForm.controls['name'].errors?.['minlength']"
                >Name is to short.</span
              >
            </ng-template></span
          >
        </div>
        <div class="form__control">
          <!--Use the name `email` for the form control.-->
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            placeholder="Input text"
            formControlName="email"
            emailValidator
            required
            [ngClass]="{
              error:
                registrationForm.controls['email'].invalid &&
                (submitted || registrationForm.controls['email'].touched)
            }"
          />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="
              registrationForm.controls['email'].invalid &&
              (submitted || registrationForm.controls['email'].touched)
            "
            ><span
              *ngIf="registrationForm.controls['email'].errors?.['required']; else invalidEmailTemplate"
              >Email is required.</span
            >
            <ng-template #invalidEmailTemplate>
              <span
                *ngIf="registrationForm.controls['email'].errors?.['invalidEmail']"
                >Email is invalid.</span
              >
            </ng-template></span
          >
        </div>
        <div class="form__control">
          <!--Use the name `password` for the form control.-->
          <label for="password">Password</label>
          <div class="input-container">
            <input
              type="password"
              id="password"
              placeholder="Input text"
              formControlName="password"
              togglePassword
              #togglePassword="togglePassword"
              required
              [ngClass]="{
                error:
                  registrationForm.controls['password'].invalid &&
                  (submitted || registrationForm.controls['password'].touched)
              }"
            />
            <fa-icon
              class="toggle-icon"
              (click)="togglePassword.toggle()"
              [icon]="togglePassword.visible ? 'eye' : 'eye-slash'"
            ></fa-icon>
          </div>
          <span
            id="passwordErrorMessage"
            class="text-danger"
            *ngIf="
              registrationForm.controls['password'].invalid &&
              (submitted || registrationForm.controls['password'].touched)
            "
            ><span
              *ngIf="registrationForm.controls['password'].errors?.['required']"
              >Password is required.</span
            ></span
          >
        </div>
      </div>
      <div class="form__action">
        <app-button [buttonText]="'register'" (click)="onSubmit()"></app-button>
      </div>
      <div class="form__text">
        If you have an account you may
        <a routerLink="/login"><strong>Login</strong></a>
      </div>
    </div>
  </form>
</div>
