<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <!--Use the name `email` for the form control.-->
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Input text"
            required
            emailValidator
            [(ngModel)]="email"
            #emailCtrl="ngModel"
            [ngClass]="{
              error: emailCtrl.invalid && (emailCtrl.touched || submitted)
            }"
          />
          <span
            *ngIf="emailCtrl.invalid && (emailCtrl.touched || submitted)"
            id="emailErrorMessage"
            class="text-danger"
          >
            <span
              *ngIf="emailCtrl.errors?.['required']; else invalidEmailTemplate"
              >Email is required.</span
            >
            <ng-template #invalidEmailTemplate>
              <span *ngIf="emailCtrl.errors?.['invalidEmail']"
                >Email is invalid.</span
              >
            </ng-template>
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <!--Use the name `password` for the form control.-->
          <div class="input-container">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Input text"
              togglePassword
              #togglePassword="togglePassword"
              required
              [(ngModel)]="password"
              #passwordCtrl="ngModel"
              [ngClass]="{
                error:
                  passwordCtrl.invalid &&
                  (passwordCtrl.touched || submitted)
              }"
            />
            <fa-icon
              class="toggle-icon"
              (click)="togglePassword.toggle()"
              [icon]="togglePassword.visible ? 'eye' : 'eye-slash'"
            ></fa-icon>
          </div>
          <span
            *ngIf="passwordCtrl.invalid && (passwordCtrl.touched || submitted)"
            id="passwordErrorMessage"
            class="text-danger"
            ><span *ngIf="passwordCtrl.errors?.['required']"
              >Password is required.</span
            ></span
          >
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button [buttonText]="'login'" (click)="onLogin()"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may
          <a routerLink="/register"> <strong>Registration</strong></a>
        </div>
      </div>
    </div>
  </form>
</div>
