<app-header
  ><div class="header-login">
    <span>{{ (name$ | async) || "" }}</span>
    <span *ngIf="isAuthorized$ | async; else loginTemplate"
      ><app-button (click)="onLogout()" buttonText="logout"></app-button
    ></span>
    <ng-template #loginTemplate>
      <app-button (click)="onLogin()" buttonText="login"></app-button>
    </ng-template></div
></app-header>
<div class="app-root">
  <router-outlet></router-outlet>
  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
