@import "src/app/shared/styles/styles";

.course {
  min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & input.error,
    textarea.error {
      border-color: red;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.all-authors {
  display: flex;
  gap: 20px;
}

.authors {
  flex-grow: 2;
}

.authors__list {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

// input.ng-invalid.ng-touched,
// .form-submitted input.ng-invalid {
//   border-color: red;
// }
